@page
@model Authentication_Appplication.Pages.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="container mt-5">

    <h1>Details</h1>

    <div>
        <h4>HeelInfo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HeelInfo.Color)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HeelInfo.Color)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HeelInfo.Size)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HeelInfo.Size)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HeelInfo.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HeelInfo.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HeelInfo.StockQuantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HeelInfo.StockQuantity)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.HeelInfo.VariantId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
</div>