@page
@model Authentication_Appplication.Pages.Heels.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    * {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Heel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heel.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heel.Brand)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Heel.HeelId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
